**Data Structures**

In [15]:
#creating a list

car_prices_ZAR = [60000, 75000, 45000, 50000]
print(car_prices_ZAR)

[60000, 75000, 45000, 50000]

In [4]:
car_prices_ZAR.append(30000)
print(car_prices_ZAR)

[60000, 75000, 45000, 50000, 30000, 30000]

In [ ]:
#nested list
#nested lis is a list inside a list, its like a box inside with boxes inside

nested_prices = [
    ["bmw", 60000, "black"],
    ["benz", 75000, "grey"],
    ["suziki", 45000, "yellow"],
    ["toyota", 50000, "white"],
    ["kwid", 30000, "white"]


]
print(nested_prices)

[['bmw', 60000, 'black'], ['benz', 75000, 'grey'], ['suziki', 45000, 'yellow'], ['toyota', 50000, 'white'], ['kwid', 30000, 'white']]

In [11]:
fridges_list = [
    [2500, 85, 1],     # Bar fridge
    [5000, 140, 2],    # Top freezer fridge
    [7500, 178, 2],    # Bottom freezer fridge
    [12000, 178, 2],   # Side-by-side fridge
    [14500, 179, 3],   # French door fridge
    [3500, 144, 1],    # Single door fridge
    [22000, 185, 4]    # Smart fridge (door-in-door)
]

for fridge in fridges_list:
    price_per_height = fridge[0]/fridge[1]
    fridge.append(price_per_height)

fridges_list

[[2500, 85, 1, 29.41176470588235],
 [5000, 140, 2, 35.714285714285715],
 [7500, 178, 2, 42.13483146067416],
 [12000, 178, 2, 67.41573033707866],
 [14500, 179, 3, 81.00558659217877],
 [3500, 144, 1, 24.305555555555557],
 [22000, 185, 4, 118.91891891891892]]

## *Dictionaries*

*A dictionary in python is a collection of data in key-value pairs-like real dictionary, where each word(key) has definition(value). It stores data as pairs*

In [14]:
import pandas as pd

fridges_list = {
    "estimated_price" : 2500,
    "height" : 85,
    "doors" : 1
}
 
df = pd.DataFrame.from_dict([fridges_list])
df

   estimated_price  height  doors
0             2500      85      1